.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.ambassadorCard {
  //slide in from the top
  animation: slideIn 0.5s ease-in-out;
  -webkit-animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

// accessibility for vestibular motion disorders
@keyframes dissolveIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .ambassadorCard {
    animation: dissolveIn 0.5s ease-in-out;
    -webkit-animation: dissolveIn 0.5s ease-in-out;
  }
}
