@import "../../../../../variables";

$container-overflow: $twitch-vertical-padding;
$fade-distance: 3rem;

.ambassadorList {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  z-index: 0; // lets tooltips appear above the list

  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; // to position arrows absolutely on top of the items
    z-index: 1; // stay above the popup card

    .ambassadors {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 10rem;
      margin: -$container-overflow 0;
      padding: ($container-overflow + $fade-distance) 1rem;
      gap: 1rem;

      // mask image to fade out the list to transparent top and bottom
      // using a gradient as image of which the alpha channel will be
      // applied to the content of the list
      mask-image: linear-gradient(
        to bottom,
        /* gradient from 0% to 100% alpha,
           with most of the transition between the overflow and fade distance */
          rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.25) #{$container-overflow},
        rgba(0, 0, 0, 1) #{$container-overflow + $fade-distance},
        /* gradient from 100% to 0% alpha,
           with most of the transition between the overflow and fade distance */
          rgba(0, 0, 0, 1) calc(100% - #{$container-overflow + $fade-distance}),
        rgba(0, 0, 0, 0.25) calc(100% - #{$container-overflow}),
        rgba(0, 0, 0, 0) 100%
      );

      // scroll, but with no scrollbar
      overflow: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .arrow {
      position: absolute;
      border: 0;
      cursor: pointer;
      color: $primary-color;
      width: 100%;
      height: $fade-distance;
      padding: 0 0 1rem; // offset toward the faded edge
      background: rgba(
        $accent-color,
        0.01%
      ); // non-default "transparent" background to avoid dismissing
      z-index: 2;
      transition: $transition opacity;

      &:hover,
      &:focus {
        svg {
          scale: 1.2;

          path {
            stroke: $outline-color;
            stroke-width: 0.375rem;
          }
        }
      }

      &.up {
        top: 0;
      }

      &.down {
        bottom: 0;
        transform: rotate(180deg);
      }

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }

      svg {
        filter: drop-shadow(0 0 0.5rem rgba($accent-color, 0.75));
        overflow: visible; // ensure stroke doesn't get clipped
        transition: $transition scale;

        path {
          stroke: $secondary-color;
          stroke-width: 0.25rem;
          paint-order: stroke; // force the stroke to be under the fill
          transition: $transition;
          transition-property: stroke-width, stroke;
        }
      }
    }
  }

  .ambassadorButton {
    &.highlighted {
      outline: $outline;
    }
  }

  .ambassadorCard {
    align-self: center;
    z-index: 0; // stay below ambassadors list
    transform-origin: center left;
    animation: slideIn 0.5s ease-in-out;

    @media (prefers-reduced-motion) {
      animation: dissolveIn 0.5s ease-in-out;
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-$slide-distance);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes dissolveIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
