@import '../../../../variables.scss';

$knob: 1rem;
$padding: 0.2rem;

.switchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #18181b;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
  color: white;
  font-size: 0.625rem;

  // The switch - the box around the slider
  .switch {
    position: relative;
    display: inline-block;
    width: ($knob * 2) + ($padding * 2);
    height: $knob + ($padding * 2);
    margin-top: 0.25rem;

    input {
      // Hide default HTML checkbox
      opacity: 0;
      width: 0;
      height: 0;

      &:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      // Show the active state
      &:checked + .slider {
        background-color: $primary-color;

        &::before {
          transform: translateX($knob);
        }
      }
    }
  }

  // The slider itself
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: $tertiary-color;

    // The knob inside the slider
    &::before {
      position: absolute;
      content: "";
      height: $knob;
      width: $knob;
      left: $padding;
      top: $padding;
      border-radius: 50%;
      background-color: white;
      transition: $transition;
      transition-property: transform;

      @media (prefers-reduced-motion) {
        transition: unset;
      }
    }
  }
}
