@import '../../variables.scss';
.animal{
    width: 100px;
    height: 100px;

    &:hover{
        cursor: pointer;
        filter: brightness(0.9);
    }
}
.img{
    border-radius: 5px;
    max-width: 100px;
    max-height: 70px;
    margin-bottom: 5px;
}
.name{
    font-size: 0.8rem;
}
.animalType{
    font-size: 0.7rem;
    color: $secondary-text;
}