@import '../../../../variables.scss';

.overlaySettings {
  position: absolute;
  bottom: 75%;
  right: 0;
  transition: 0.3s ease-out;
  transition-property: visibility, translate;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  translate: 40px;

  // accessibility for vestibular motion disorders
  // do not translate overlay but only transition opacity
  @media (prefers-reduced-motion) {
    translate: 0;
  }
}
