.overlaySettings {
    position: absolute;
    top: 40px; // Matching the margin-top of the activation buttons
    right: 0;
    transition: all 0.15s ease-out;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    translate: 40px;
}

@media (prefers-reduced-motion) {
    //disolve in and out
    .visible {
        opacity: 1;
    }

    .hidden {
        opacity: 0;
        translate: 0;
    }
}
