@import '../../../../variables.scss';

.activationButtons {
  margin-top: calc(6 * $overlay-base-size); // move slightly lower relative to available height

  button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    // scale based on available height
    width: calc(7 * $overlay-base-size);
    height: calc(7 * $overlay-base-size);

    border-radius: 5px;
    background-color: $primary-color;
    box-shadow: 0 2px 4px $accent-color;

    img {
      height: 60%;
    }

    &:hover {
      outline: 1px solid white;
      cursor: pointer;
      filter: brightness(1.2);
      transition: 0.3s;
    }
  }
}

