@import '../../../../variables.scss';

.activationButtons{
    display: flex;
    flex-direction: column;
    margin-top: calc(6 * $overlay-base-size); //move slightly lower relative to available height
    gap: $overlay-base-size;

    button{
        all: unset;
        display: flex;
        width: calc(5 * $overlay-base-size); //scale based on available height
        border-radius: 5px;
        background-color: $primary-color;

        //the logo is not visually centered in the image
        //so we tweak the position a bit to look centered
        padding: 5% 10% 10% 5%;

        img{
            width: 100%;
            height: auto;
        }

        &:hover{
            outline: 1px solid white;
            cursor: pointer;
            filter: brightness(1.2);
            transition: 0.3s;
        }
    }
}