@import '../../variables.scss';

.animal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px 15px;

    background-color: $primary-color;
    border-radius: 10px;
    text-align: center;

    img{
        border-radius: 10px;
    }
}