@import '../../../variables.scss';

.loading{
  width: 50px;
  height: 50px;
  border: 10px solid $primary-color; /* Light grey */
  border-top: 10px solid #333333; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}