@import '../../../variables.scss';

.ambassadorCard {
  width: 275px;
  height: 425px;
  justify-content: start;
  align-items: baseline;
  background-color: $accent-color;
  border: 10px solid $primary-color;
  border-radius: 20px;
  box-shadow: 0 3px 3px $accent-color;
  padding: 5px 0;
  padding-bottom: 10px;
  color: $primary-text;
  text-align: left;
  font-size: 0.7rem;
  position: relative;

  h3 {
    font-size: 0.9rem;
  }

  .close {
    position: absolute;
    top: -5px;
    right: 10px;
    padding: 5px;
    font-size: x-large;
    cursor: pointer;

    &:hover{
      filter: brightness(0.7);
    }
  }

  .img {
    //crop image with a ratio of 2.2:1
    width: 100%;
    height: 125px;
    align-self: center;
    border-radius: 0;
    margin-bottom: 5px;
  }

  .name,
  .row,
  .story,
  .conservationmission {
    margin-left: 5px;
  }

  .name {
    font-size: 1.3rem;
  }

  .row {
    margin-bottom: 5px;
  }

  .story,
  .conservationmission {
    height: 60px;
    padding-bottom: 5px;
  }

  .compact { //multiple data put in one row
    display: flex;

    & > div {
      margin-right: 20px;
    }
  }
}

.birthday::after {
  content: url('../../../assets/partyHat.jpg');
  position: absolute;
  top: -70px;
  left: 100px;
}
