@import '../../../variables.scss';

.ambassador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .ambassadorCard {
    width: 295px;
    height: 460px;
    justify-content: start;
    align-items: baseline;
    background-color: $accent-color;
    border: 10px solid $primary-color;
    border-radius: 20px;
    box-shadow: 0 3px 3px $accent-color;
    padding: 5px 0 10px 0;

    color: $primary-text;
    text-align: left;
    font-size: 0.7rem;

    position: relative;

    //flip card animation
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      // hide front of flipped card
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    .close {
      position: absolute;
      top: -5px;
      right: 10px;
      padding: 5px;
      font-size: x-large;
      cursor: pointer;

      &:hover {
        filter: brightness(0.7);
      }
    }

    .front{
      h3 {
        font-size: 0.9rem;
      }

      .img {
        //crop image with a ratio of 2.2:1
        width: 100%;
        aspect-ratio: 2.2;
        object-fit: cover;

        align-self: center;
        border-radius: 0;
        margin-bottom: 5px;
      }

      .name,
      .row,
      .story,
      .conservationmission {
        margin-left: 5px;
      }

      .name {
        font-size: 1.3rem;
      }

      .row {
        margin-bottom: 5px;
      }

      .story,
      .conservationmission {
        height: 65px;
        padding-bottom: 5px;
      }

      .compact { //multiple data put in one row
        display: flex;

        & > div {
          margin-right: 20px;
        }
      }
    }
    .back{
      padding: 5px 5px;
      transform: rotateY(180deg);

      h2{
        margin-bottom: 10px;
      }

      section{
        h3{
          font-size: 0.8rem;
          margin-bottom: 5px;
        }

        .imgList{
          display: flex;
          gap: 10px;
          img{
            height: 45px;
            border-radius: 0;
          }
        }

        ul{
          padding-left: 15px;
          li{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .flipCard {
    transform: rotateY(180deg);
  }
}
button{
  background-color: #F39142;
  border-radius: 5px;
  padding: 5px 10px;

  font-size: 1.2rem;
  font-weight: bold;
  font-family: $font-family;

  cursor: pointer;

  &:hover {
    filter: brightness(0.7);
  }
}

.birthday::after {
  content: url('../../../assets/partyHat.jpg');
  position: absolute;
  top: -70px;
  left: 100px;
}
