@import '../../../variables.scss';

.ambassadorCard {
  width: 18.5rem;
  max-width: 100%;
  min-height: min(28.5rem, 100%);
  max-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $accent-color;
  border: 0.5rem solid $primary-color;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.2rem $accent-color;
  padding: 0.25rem 0 0.5rem;

  color: $primary-text;
  font-size: 0.7rem;

  h3 {
    font-size: 0.9rem;
  }

  .close {
    position: absolute;
    top: 0.125rem;
    right: 0.25rem;
    width: 2rem;
    display: block;
    font-size: x-large;
    cursor: pointer;
    text-align: center;
    transition: $transition;
    transition-property: filter;

    &:hover {
      filter: brightness(0.7);
    }
  }

  .img {
    width: 100%;
    aspect-ratio: 2.2;
    object-fit: cover;
    align-self: center;
    border-radius: 0;
    margin-bottom: 0.25rem;
  }

  .name {
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 3rem);
    width: 100%;
    flex-shrink: 0;
  }

  .name,
  .row {
    margin: 0 0.5rem 0.25rem;
  }

  .compact {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 1.5rem;
  }

  .mod {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: cover;
      border-radius: 0;
    }
  }

  .site {
    font-style: italic;
    margin-top: 0.75rem;

    a {
      color: $secondary-color;
      text-decoration: underline;
      white-space: nowrap;
      transition: $transition;
      transition-property: color;

      &:hover,
      &:focus {
        color: $tertiary-color;
      }
    }
  }

  .scrollable {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-right: 1px;
    scrollbar-color: $primary-color $accent-color;

    &::-webkit-scrollbar {
      width: 0.4rem;
      height: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      background: $accent-color;
    }
  }
}

.birthday::after {
  content: url('../../../assets/partyHat.png');
  width: 4rem;
  height: auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -90%);
}
