@import '../../../variables.scss';

.ambassadorCard {
  width: 295px;
  height: 460px;
  max-height: 100vh;
  justify-content: start;
  align-items: baseline;
  background-color: $accent-color;
  border: 10px solid $primary-color;
  border-radius: 20px;
  box-shadow: 0 3px 3px $accent-color;
  padding: 5px 0 10px 0;

  color: $primary-text;
  text-align: left;
  font-size: 0.7rem;

  position: relative;

  h3 {
    font-size: 0.9rem;
  }

  .close {
    position: absolute;
    top: -5px;
    right: 10px;
    padding: 5px;
    font-size: x-large;
    cursor: pointer;

    &:hover {
      filter: brightness(0.7);
    }
  }

  .img {
    //crop image with a ratio of 2.2:1
    width: 100%;
    aspect-ratio: 2.2;
    object-fit: cover;

    align-self: center;
    border-radius: 0;
    margin-bottom: 5px;
  }

  .name {
    font-size: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 40px);
    width: 100%;
    flex-shrink: 0;
  }

  .name,
  .row {
    margin: 0 5px 5px;
  }

  .compact { //multiple data put in one row
    display: flex;

    & > div {
      margin-right: 20px;
    }
  }

  .scrollable {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.birthday::after {
  content: url('../../../assets/partyHat.jpg');
  position: absolute;
  top: -70px;
  left: 100px;
}
