@import '../../variables.scss';

.animalCard{
    width: 250px;
    height: 400px;
    justify-content: start;
    align-items: baseline;

    color: $primary-text;
    text-align: left;
    font-size: 0.7rem;

    position: relative;
    h3{
        font-size: 0.9rem;
    }
    .close{
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
        font-size: x-large;
        cursor: pointer;

        &:hover{
            filter: brightness(0.7);
        }
    }

    .img{
        max-height: 130px;
        align-self: center;
    }
    .name{
        font-size: 1.3rem;
        align-self: center;
    }

    .row{
        margin-bottom: 5px;
    }
    .story, .conservationmission{
        height: 60px;
    }
    .compact{ //multiple data put in one row
        display: flex;
        &>div{
            margin-right: 20px;
        }
    }
}