@import '../../../variables.scss';

.ambassador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 7.7%;

    background-color: $primary-color;
    border-radius: 10px;
    text-align: center;

    img{
        border-radius: 10px;
    }
}