@import '../../../variables.scss';

.ambassador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1em 0.9em;
  background-color: $primary-color;
  border-radius: 10px;
  text-align: center;

  img {
    border-radius: 10px;
  }
}
