@import "../../../../variables.scss";

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    .toggle {
      input {
        outline: $outline;
      }
    }
  }

  .toggle {
    position: relative;

    input {
      appearance: none;
      background: $tertiary-color;
      border: none;
      border-radius: 0.5rem;
      cursor: inherit;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      outline-color: $outline-color;
      transition: $transition outline;

      &:checked {
        background: $secondary-color;

        ~ span {
          opacity: 1;
        }
      }
    }

    span {
      color: $primary-color;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: $transition opacity;
    }
  }

  .label {
    font-size: 0.75rem;
  }
}
