@import "../../variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 1.25rem;
  box-shadow: $shadow;
  background: $primary-color;
  color: $primary-text;

  padding: 1.25rem;
  margin: 1.5rem 1rem;
  width: 32rem;
  max-width: 100%;
  max-height: 100%;

  overflow-y: auto;
  scrollbar-color: $primary-color $accent-color;

  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background: $accent-color;
  }

  .title {
    text-align: center;
    font-size: 1.75rem;
    margin: 0 0 0.5rem;
  }
}
