@import '../../../../variables.scss';

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary-color;
  box-shadow: 0 0.25rem 0.25rem #2c2c2c;

  padding: 0.5rem;

  img {
    width: auto;
    height: 2rem;
    margin-right: 0.75rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}
