@import "../../../../variables.scss";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($primary-color, 0.875);
  box-shadow: $shadow;
  backdrop-filter: blur(0.25rem);

  position: fixed;
  top: 0;
  width: 100vw;
  height: 3rem;
  padding: 0.5rem;
  z-index: 5;

  img {
    width: auto;
    height: 2rem;
    margin-right: 0.75rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}
