@import "../../../../variables.scss";

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: rgba($primary-color, 0.875);
  box-shadow: $shadow;
  backdrop-filter: blur(0.25rem);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5rem calc(2rem + 0.5rem + 20px) 0.5rem 1rem; // account for info button (right only)
  height: 3rem;
  z-index: 5;

  @media (min-width: 25rem) {
    justify-content: center;
    padding: 0.5rem calc(2rem + 0.5rem + 20px); // account for info button (balanced)
  }

  img {
    width: auto;
    height: 2rem;
    margin-right: 0.75rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .info {
    color: $primary-text;
    margin: 0 1rem;
    padding: 0.25rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    svg {
      display: block;
    }
  }
}
