@import "../../variables.scss";

.App {
  background: $secondary-color;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}
