@import "../../../../variables.scss";

.alveusIntro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    left: 80px;

    border: 5px solid white;
    border-radius: 20px;
    background-color: $primary-color;
    color: $primary-text;
    padding: 20px;
    max-width:  500px;
    max-height: 350px;
    transition: 0.3s;

    .title{
        text-align: center;
        font-size: 2em;
    }
    .intro{
        font-size: 1.1em;
        margin: 10px 0 20px 0;
    }
    .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 10px;
        li{
            list-style: none;
            &:hover{
                scale: 1.2;
                transition: 0.1s;
            }
            a{
                img{
                    max-height: 30px;
                }
            }
        }
    }
    .contribute{
        color: $primary-text;
        font-size: x-small;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 5px;
        width: fit-content;

        img{
            max-height: 20px;
        }

        &:hover{
            color: #c59d54;
        }
    }
}
.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    translate: -40px;
}

