@import '../../../../variables.scss';

.overlay {
  display: flex;
  height: 100%;
  width: 100%;
  transition: $transition;
  transition-property: visibility, transform;

  &Hidden {
    visibility: hidden;
    transform: translateX(-$slide-distance);
    cursor: none;

    @media (prefers-reduced-motion) {
      transform: unset;
    }
  }
}

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.option {
  transition: $transition;
  transition-property: opacity, visibility, transform;

  &Hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-$slide-distance);

    @media (prefers-reduced-motion) {
      transform: unset;
    }
  }
}
