@import '../../../../variables.scss';

.overlay{
    position: absolute;
    width: 100%;

    //the active area of the
    //overlay should not extend to the
    //top/bottom 5rem (at 10px root = 50px)
    //according to twitch dev docs
    top: 50px;
    bottom: 50px;


    display: flex;

    //horizontal gaps scaled dynamically based on available height
    padding: 0 calc(2 * var(--alveus-base-size));
    gap: var(--alveus-base-size);

    transition: opacity 300ms, translate 300ms;
}
.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    translate: -40px;

    // accessibility for vestibular motion disorders
    // do not translate overlay but only transition opacity
    @media (prefers-reduced-motion) {
        translate: 0;
    }
}