@import '../../../../variables.scss';

.overlay {
    display: flex;
    gap: 10px;
    transition: 0.3s;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    translate: -40px;
}

//media query min height 545px
@media screen and (max-height: 555px) {
    .overlay {
        // scale down the overlay
        scale: 0.8;
        // move the overlay up
        transform: translateX(-12%);

        .scrollAmbassadors .ambassadorList {
            height: 80vh;
        }
    }
}

@media screen and (max-height: 440px) {
    .overlay {
        // scale down the overlay
        scale: 0.6;
        // move the overlay up
        transform: translateX(-32%);

        .scrollAmbassadors .ambassadorList {
            height: 90vh;
        }
    }
}

@media (prefers-reduced-motion) {
    // disolve in and out
    .visible {
        opacity: 1;
    }

    .hidden {
        opacity: 0;
        translate: 0;
    }
}
