@import '../../../../variables.scss';

.overlay {
  display: flex;
  height: 100%;
  width: 100%;
  transition: $transition;
  transition-property: visibility, transform;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  transform: translateX(-2.5rem); // match OverlaySettings transform

  @media (prefers-reduced-motion) {
    transform: unset;
  }
}

.popup {
  position: relative;
  height: 100%;
  width: 100%;
}
