@import "../../../variables.scss";

.triangle {
  position: absolute;
  margin-top: -5px;
  right: 100%;
  top: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $tooltip-background-color transparent transparent;
}

.tooltip {
  position: fixed;
  z-index: 1;
  background-color: $tooltip-background-color;
  color: white;
  transition: $transition;
  transition-property: opacity;
  pointer-events: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
