.app {
  width: 100%;
  height: 100%;
  position: relative;
  transition: opacity 0.3s ease-out;
  margin: 0 1rem;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
  cursor: none;
  * {
    cursor: none;
    pointer-events: none;
  }
}
