//Global styles
@import "https://fonts.cdnfonts.com/css/futura-md-bt";

*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "Futura Md BT", sans-serif;

  display: flex;
  justify-content: center;

  overflow: hidden;
}