@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap";

$primary-color: #636a60;
$secondary-color: #c2b3a7;
$tertiary-color: #a8a8a8;
$accent-color: #272b27;

$primary-text: white;
$secondary-text: #dcdcdc;
$heading-text: lighten($primary-color, 25%);
$outline-color: #ff9f1c;

$tooltip-background-color: #18181b;

$font-family: "Nunito", sans-serif;
$outline: 0.25rem solid $outline-color;
$shadow:
  0 0.125rem 0.5rem rgba($accent-color, 0.75),
  0 0.125rem 1rem rgba($accent-color, 0.25);
$transition: 0.3s ease;

$slide-distance: 2.5rem;

// https://dev.twitch.tv/docs/extensions/designing/#video-overlay-extensions
$twitch-vertical-padding: 5rem;
$twitch-right-padding: 7rem;
$twitch-left-padding: 0rem;
