@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap';

$primary-color: #636a60;
$secondary-color: #c2b3a7;
$tertiary-color: #a8a8a8;
$accent-color: #242724;

$primary-text: white;
$secondary-text: #dcdcdc;

$font-family: 'Nunito', sans-serif;