@import "https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap";

$primary-color: #636a60;
$secondary-color: #c2b3a7;
$tertiary-color: #a8a8a8;
$accent-color: #272b27;

$primary-text: white;
$secondary-text: #dcdcdc;
$outline-color: #ff9f1c;

$tooltip-background-color: #18181b;

$font-family: "Nunito", sans-serif;
$outline: 0.25rem solid $outline-color;
$shadow: 0 0.125rem 1rem $accent-color;
$transition: 0.3s ease;

$slide-distance: 2.5rem;

// used to scale various elements based on available height
// but clamped between 6px and 10px to prevent tiny/giant UI
// the values are chosen so that in a normal desktop resolution
// 1 base unit === 10px to make the math easier when using it
// to scale elements.
//
// usage example:
//   width: calc(5 * $overlay-base-size);
//   => which would be 50px in normal views and
//        would scale down to 30px
$overlay-base-size: clamp(6px, 1.46vh, 10px);
