@import "../../variables.scss";

.ambassadorCard {
  width: 18.5rem;
  max-width: 100%;
  min-height: min(28.5rem, 100%);
  max-height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $accent-color;
  box-shadow: $shadow;

  border-radius: 1rem;
  overflow: hidden;

  color: $primary-text;
  font-size: 0.7rem;

  &.birthday {
    &::after {
      content: url("../../assets/party.png");
      width: 4rem;
      height: auto;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -90%);
    }
  }

  .hero {
    position: relative;
    width: 100%;

    .img {
      display: block;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 2.2;

      @media (min-width: 480px) {
        aspect-ratio: 1.8;
      }

      &:hover {
        + .overlay {
          opacity: 0.125;
          backdrop-filter: blur(0.125rem);
        }
      }
    }

    .overlay {
      display: flex;
      position: absolute;
      top: 0;
      width: 100%;
      height: 2.25rem;
      background: rgba($accent-color, 0.5);
      backdrop-filter: blur(0.25rem);
      transition: $transition;
      transition-property: opacity, backdrop-filter;

      .name {
        font-size: 1.3rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 0.5rem;
        align-self: center;
        max-width: calc(100% - 2.5rem);
        width: 100%;
        flex-shrink: 0;
      }

      .close {
        position: absolute;
        top: 50%;
        right: 0.25rem;
        transform: translateY(-50%);
        width: 2rem;
        display: block;
        font-size: 1.5rem;
        line-height: 1.1;
        cursor: pointer;
        text-align: center;
        transition: $transition color;

        &:hover {
          color: $outline-color;
        }
      }
    }
  }

  .scrollable {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 0 0 0.5rem; // margin applies outside of scrollbar
    padding: 0.5rem;
    scrollbar-color: $primary-color $accent-color;

    &::-webkit-scrollbar {
      width: 0.4rem;
      height: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 0.4rem;
    }

    &::-webkit-scrollbar-track {
      background: $accent-color;
    }

    h3 {
      color: $heading-text;
      font-size: 0.9rem;
    }

    .mod {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        border-radius: 0;
      }
    }

    .compact {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem 1.5rem;
    }

    .info {
      color: $heading-text;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

    .site {
      font-style: italic;
      margin-top: 0.75rem;

      a {
        color: $secondary-color;
        text-decoration: underline;
        white-space: nowrap;
        transition: $transition color;

        &:hover,
        &:focus {
          color: $outline-color;
        }
      }
    }
  }
}
