@import '../../../variables.scss';

.switchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18181b;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    height: 80px;
    width: 40px;
    color: white;
    font-size: x-small;

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 23px;
        height: 40px;
        margin-top: 5px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid black;
        background-color: white;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 2px;
        top: 3px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
        transform: translateY(15px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        background-color: $primary-color;
        border-radius: 50%;
    }
}
@media (prefers-reduced-motion) {
    .slider:before {
        -webkit-transition: none;
        transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
    }
}