.overlay{
    display: flex;
    padding: 100px 0;

    gap: 20px;
    height: calc(100vh - 150px);

    transition: 0.3s;

    .animalList{
        overflow: scroll;
        
        & > *{
            margin-bottom: 20px;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
.visible{
    visibility: visible;
    opacity: 1;
    translate: 20px;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    translate: -20px;
}