.overlay{
    display: flex;
    padding: 100px 20px;

    gap: 10px;
    height: calc(100vh - 150px);

    transition: 0.3s;

    .scrollAnimals{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: 0.3s;
        z-index: 1;

        .animalList{
            overflow: scroll;
            height: 80vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            & > *{
                margin-bottom: 20px;

                // @for $i from 2 through  {
                //     &:nth-child(#{$i}) {
                //         transition-delay: 100ms * ($i - 1);
                //     }
                // }
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .arrow{
            transition: 0.5s;
            width: 50px;
            &:hover{
                cursor: pointer;
            }
        }
        .up{
            transform: rotate(180deg);
        }
    }
    .animalButton{
        transition: 0.3s;
       &:hover{
            transform: scale(1.1);
       } 
    }
    .animalButtonClicked{
        transform: scale(1.1);
        outline: 3px solid orange;
    }
    .animalCard{
        align-self: center;
        animation: slideIn 0.5s ease-in-out;
        z-index: 0;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    translate: -40px;
}
.hideArrow{
    visibility: hidden;
    opacity: 0;
}