@import '../../../variables.scss';

.overlay{
    display: flex;
    padding: 20px;
    padding-top: 90px;
    gap: 10px;
    transition: 0.3s;

    .scrollAnimals{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        transition: 0.3s;
        z-index: 1;

        .animalList{
            overflow: scroll;
            height: 70vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            & > *{
                margin-bottom: 20px;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .arrow{
            width: 30px;
            &:hover{
                scale: 1.4;
                cursor: pointer;
            }
            transition: 0.3s;
        }
        .down{
            transform: rotate(180deg);
        }
    }
    .animalButton{
        transition: 0.3s;
       &:hover{
            transform: scale(1.1);
       } 
    }
    .animalButtonClicked{
        transform: scale(1.1);
        outline: 3px solid orange;
    }
    .animalCard{
        align-self: center;
        animation: slideIn 0.5s ease-in-out;
        z-index: 0;
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
    translate: -40px;
}
.hideArrow{
    visibility: hidden;
    opacity: 0;
}

//media query min height 545px
@media screen and (max-height: 555px) {
    .overlay{
        //scale down the overlay
        scale: 0.8 ;
        //move the overlay up
        transform: translateX(-12%);
        padding-top: 40px;
        .scrollAnimals .animalList{
            height: 80vh;
        }
    }
}
@media screen and (max-height: 440px) {
    .overlay{
        //scale down the overlay
        scale: 0.6 ;
        //move the overlay up
        transform: translateX(-32%);
        padding-top: 20px;
        .scrollAnimals .animalList{
            height: 90vh;
        }
    }
}