@import "../../variables.scss";

.ambassador {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $primary-color;
  text-align: center;

  // assume the width provided from the parent so
  // we use the same class in both overlay (dynamic size)
  // and panel (fixed size)
  width: 100%;

  flex-shrink: 0;
  box-shadow: $shadow;
  border-radius: 0.5rem;
  transition: $transition;
  transition-property: filter;

  &:hover {
    filter: brightness(1.2);
  }

  .img {
    border-radius: 0.5rem 0.5rem 0 0;
    flex-shrink: 0; // prevent long names/species to shrink the image height
    // crop image to 2.2:1:
    width: 100%;
    aspect-ratio: 2.2;
    object-fit: cover;
  }

  .info {
    margin: auto 0;
    padding: 0.75rem 0.25rem;

    .name {
      color: $primary-text;
      font-size: 0.8rem;
    }

    .species {
      font-size: 0.7rem;
      color: $secondary-text;
      line-height: 1.2; // slightly reduce line height if species is multi-line
    }
  }
}
