@import '../../../../variables.scss';

.activationButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  z-index: 1; // stay above the popups

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    background: $primary-color;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem $accent-color;
    transition: $transition;
    transition-property: outline, filter;

    img {
      height: 60%;
    }

    &:hover,
    &.highlighted {
      outline: $outline;
      filter: brightness(1.2);
    }
  }
}

